# Required
DATABASE_URL=

# AWS / S3 (Optional for dev boot, but REQUIRED for Transaction Attachments & Member Photos)
AWS_REGION=
S3_TRANSACTIONS_BUCKET=
S3_MEMBERS_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Optional
NODE_ENV=dev
TRANSACTION_ATTACHMENT_MAX_BYTES=1048576
MEMBER_PHOTO_MAX_BYTES=524288
